{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tyler's Insights</title>
</head>
<style>
body{
    background-color: #f0f0f0;
    font-family: 'EB Garamond', cursive;
}
</style>
<body>

{% load static %}
<div align="center">
<br><br><br>
<h1>Weekly Report for April 2nd - April 6th</h1>
<img src="{% static "Tyler_Apr2.png" %}" height="70%" width="auto"/>
<br>
<h1>Weekly Report for March 19th - March 23rd</h1>
<img src="{% static "Tyler_Mar19.png" %}" height="70%" width="auto"/>
<br>
<h1>Weekly Report for March 5th - March 9th</h1>
<img src="{% static "Tyler_Mar5.png" %}" height="70%" width="auto"/>
<br>
<h1>Weekly Report for February 26th - March 2nd</h1>
<img src="{% static "Tyler_Feb26.png" %}" height="70%" width="auto"/>
<br>
<h1>Weekly Report for February 19th - 23rd</h1>
<img src="{% static "Tyler_Feb19.png" %}" height="70%" width="auto"/>
<br>
<h1>Weekly Report for February 12th - 16th</h1>
<img src="{% static "Tyler_Feb12.png" %}" height="70%" width="auto"/></div>
        <br><br>

{% endblock %}
</body>
</html>