<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="icon" href="{% static "favicon.png" %}">


<!-- styling -->
<style>
    body{
        font-family: 'EB Garamond', cursive;
        font-size: 1.5em;
    }
    .navbar-header{
        font-family: "Calligraffitti", cursive;
    }
    a{
        cursor: pointer;
    }

.navbar-custom {
  background-color: white;
}
.navbar-custom .navbar-brand {
  color: #FFFFFF;
    font-size: 1.6em;
    margin-top: 0;
    padding-top: 2px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #FFFFFF;
  background-color: transparent;
}
.navbar-custom .navbar-text {
    font-size: 1.4em;
  color: black;
    padding-left: 2%;
    padding-right:2%;
}
.navbar-custom .navbar-nav > li > a {
    font-size: 1.4em;
  color: black;

}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #99ddff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #99ddff;
  background-color: #78d2ff;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    font-size: 1.4em;
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #75d1ff;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #8f8f8f;
  border-bottom-color: #8f8f8f;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #8f8f8f;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #8f8f8f;
  border-bottom-color: #8f8f8f;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #75d1ff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8f8f8f;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #8f8f8f;
}
</style>
<!-- nav bar -->
<nav class="navbar navbar-custom navbar-fixed-top" id="bar">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% load static %}
            <a class="navbar-brand" onclick="window.location.href='/'">  <img src="{% static "vanalogo.png" %}" height="48px" width="auto"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-left">
            {% if request.user.is_active %}
                    <li><a onclick="window.location.href='/home'"><span class="glyphicon glyphicon-home"></span> Home&nbsp;</a></li>
                    <li><a onclick="window.location.href='/log/DailyReports'"><span class="glyphicon glyphicon-pencil"></span> Log&nbsp;</a></li>

                {% if user.username == 'lhorich' %}
                <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book"></span>  &nbsp;Student History<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% for student in user.student_set.all %}
                            {% if forloop.counter != 1 %}
                            <li role="separator" class="divider"></li>
                            {% endif %}
                        <li><a onclick="window.location.href='/StudentHistory/{{ student.username }}'">{{ student.name }}</a></li>
                        {% endfor %}
          </ul>
        </li>
                    {% endif %}

                <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;Past Submissions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% for student in user.student_set.all %}
                            {% if forloop.counter != 1 %}
                            <li role="separator" class="divider"></li>
                            {% endif %}
                        <li><a onclick="window.location.href='/PastSubmissions/{{ student.username }}'">{{ student.name }}</a></li>
                        {% endfor %}
          </ul>
        </li>
            <li><a onclick="window.location.href='/TeacherSubmissions'">Monitor Submissions &nbsp;&nbsp;</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_active %}
                <li><a onclick="window.location.href='/schedule_demo'">Schedule a Demo &nbsp;<span class="glyphicon glyphicon-calendar"></span> &nbsp;</a></li>
                <li><a onclick="window.location.href='/login'">Login &nbsp;<span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp;</a></li>
                    {% else %}
                    <li><a onclick="window.location.href='/logout'"><span class="glyphicon glyphicon-log-out"></span> Logout&nbsp;&nbsp;</a></li>

                {% endif %}
            </ul>

        </div>

</nav>

{% block body %}
{% endblock %}