{% extends "base_home.html" %}
{% block body %}
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Schedule Demo</title>
    </head>
<style>
    body{
        background-color: whitesmoke;
    }
h3{
    color: black;
}
</style>

<body>
<div align="center">
<br><br>
    <h3><b>Administrators and Teachers: </b><br><br>
        To schedule a demo of Vana Learning for your school, please contact:</h3>
    <h3 style="float: left; padding-left: 20%" ><b>Robert Trone, CEO</b><br> (301) 704-7703<br>rtrone@vanalearning.com
    </h3>
    <h3 style="float: right; padding-right: 20%"><b>Joshua Stafford, Head of Product</b><br> (225) 304-2611<br>jstafford@vanalearning.com
    </h3>
    </div>
    <div align="center" style="clear: both">
    <br>
        <h4> We currently offer in-person demos for the <b>Greater Nashville, TN Area</b> and video-chat demos for all other areas.
    </h4>
<hr>
    <h3><b>Parents:</b> <br><br>
        If you are interested in Vana Learning, talk to your school's administration about scheduling a demo.</h3>
    <br>
    <br>
</div>
{% endblock %}
