{% extends 'base_home.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Student History</title>
</head>

<style>
table {
   border: 3px solid black;
    background-color: white;
    width: 75%;
}
th{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 10px;
    width: 16%
}
tr{
    border: 1px solid black;
}
td{
    height: 35px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-right: 1px solid black;
    width: 16%
}

</style>

<body>
    <div align="center">
    <br>
    <br>
    <br>
    Data from {{ week_string }} for {{ student.name }}
    <br>
<table>
<tr>
    <th>Metric</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
</tr>

<tr>
    <td>Appropriate Behavior</td>
    <td>{% if metric1.monday != None %}{{ metric1.monday }}{% endif %}</td>
    <td>{% if metric1.tuesday != None %}{{ metric1.tuesday }}{% endif %}</td>
    <td>{% if metric1.wednesday != None %}{{ metric1.wednesday }}{% endif %}</td>
    <td>{% if metric1.thursday != None %}{{ metric1.thursday }}{% endif %}</td>
    <td>{% if metric1.friday != None %}{{ metric1.friday }}{% endif %}</td>
</tr>

<tr>
    <td>Attentive</td>
    <td>{% if metric2.monday != None %}{{ metric2.monday }}{% endif %}</td>
    <td>{% if metric2.tuesday != None %}{{ metric2.tuesday }}{% endif %}</td>
    <td>{% if metric2.wednesday != None %}{{ metric2.wednesday }}{% endif %}</td>
    <td>{% if metric2.thursday != None %}{{ metric2.thursday }}{% endif %}</td>
    <td>{% if metric2.friday != None %}{{ metric2.friday }}{% endif %}</td>
</tr>

<tr>
    <td>HW Complete</td>
    <td>{% if metric3.monday != None %}{{ metric3.monday }}{% endif %}</td>
    <td>{% if metric3.tuesday != None %}{{ metric3.tuesday }}{% endif %}</td>
    <td>{% if metric3.wednesday != None %}{{ metric3.wednesday }}{% endif %}</td>
    <td>{% if metric3.thursday != None %}{{ metric3.thursday }}{% endif %}</td>
    <td>{% if metric3.friday != None %}{{ metric3.friday }}{% endif %}</td>
</tr>

<tr>
    <td>Organized</td>
    <td>{% if metric4.monday != None %}{{ metric4.monday }}{% endif %}</td>
    <td>{% if metric4.tuesday != None %}{{ metric4.tuesday }}{% endif %}</td>
    <td>{% if metric4.wednesday != None %}{{ metric4.wednesday }}{% endif %}</td>
    <td>{% if metric4.thursday != None %}{{ metric4.thursday }}{% endif %}</td>
    <td>{% if metric4.friday != None %}{{ metric4.friday }}{% endif %}</td>
</tr>




</table>

</div>

{% endblock %}
</body>
</html>