{% extends 'base_home.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Student History</title>
</head>

<style>
table {
   border: 3px solid black;
    background-color: white;
    width: 75%;
}
th{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 10px;
    width: 16%
}
tr{
    border: 1px solid black;
}
td{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-right: 1px solid black;
    width: 16%
}

</style>

<body>
    <div align="center">
    <br>
    <br>
    <br>

    {% for week in weeks_data_array %}

        <h2>Data from {{ week.week_str }} for {{ student.name }}</h2>
        <br>
<table>
<tr>
    <th>Metric</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
</tr>

<tr>
    <td>Appropriate Behavior</td>
    <td>{% if week.metric1.monday != None %}{{ week.metric1.monday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric1.tuesday != None %}{{ week.metric1.tuesday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric1.wednesday != None %}{{ week.metric1.wednesday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric1.thursday != None %}{{ week.metric1.thursday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric1.friday != None %}{{ week.metric1.friday }}{% else %}N/A{% endif %}</td>
</tr>

<tr>
    <td>Attentive</td>
    <td>{% if week.metric2.monday != None %}{{ week.metric2.monday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric2.tuesday != None %}{{ week.metric2.tuesday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric2.wednesday != None %}{{ week.metric2.wednesday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric2.thursday != None %}{{ week.metric2.thursday }}{% else %}N/A{% endif %}</td>
    <td>{% if week.metric2.friday != None %}{{ week.metric2.friday }}{% else %}N/A{% endif %}</td>
</tr>

<tr>
    <td>HW Complete</td>
    <td>{% if week.metric3.monday != None %}{{ week.metric3.monday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric3.tuesday != None %}{{ week.metric3.tuesday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric3.wednesday != None %}{{ week.metric3.wednesday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric3.thursday != None %}{{ week.metric3.thursday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric3.friday != None %}{{ week.metric3.friday }} {% else %}N/A {% endif %}</td>
</tr>

<tr>
    <td>Organized</td>
    <td>{% if week.metric4.monday != None %}{{ week.metric4.monday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric4.tuesday != None %}{{ week.metric4.tuesday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric4.wednesday != None %}{{ week.metric4.wednesday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric4.thursday != None %}{{ week.metric4.thursday }} {% else %}N/A {% endif %}</td>
    <td>{% if week.metric4.friday != None %}{{ week.metric4.friday }} {% else %}N/A {% endif %}</td>
</tr>




</table>


    {% endfor %}

</div>

{% endblock %}
</body>
</html>