{% extends 'base_home.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Student History</title>
</head>

<style>

body{
    background-color: whitesmoke;
}
table {
   border: 3px solid black;
    background-color: white;
}
th{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 10px;
}
td{
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-right: 1px solid black;
}

    </style>

<body>
    <div align="center">
    <br><br><br>
    <h2>Teachers</h2>
    <table>
    <tr>
        <th>
        Teacher
        </th>
        <th>
        Reports Submitted
        </th>
        <th>
        Reports Available
        </th>
    </tr>
    <tr>
        <td>
            Dana Bleiberg
        </td>
        <td>
            {{ 6a }}
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            Marcie Demers
        </td>
        <td>
            {{ 6b }}
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            Chip West
        </td>
        <td>
            {{ 6c }}
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            Vin White
        </td>
        <td>
            {{ 6d }}
        </td>
        <td>
            1
        </td>
    </tr>

    <tr>
        <td>
            Glenn Hunter
        </td>
        <td>
            {{ 7a }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Andy Marusak
        </td>
        <td>
            {{ 7b }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Chris Miller
        </td>
        <td>
            {{ 7c }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Caitlin Zolet
        </td>
        <td>
            {{ 7d }}
        </td>
        <td>
            2
        </td>
    </tr>

    <tr>
        <td>
            Michael Chellman
        </td>
        <td>
            {{ 8a }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
           Chelsea Henry
        </td>
        <td>
            {{ 8b }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Claire Holman
        </td>
        <td>
            {{ 8c }}
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            Lele Horich
        </td>
        <td>
            {{ 8d }}
        </td>
        <td>
            2
        </td>
    </tr>
    </table>

    <h3>View a past day</h3>
    <form action="/TeacherSubmissions" method="post">
        {% csrf_token %}

        <input id="date" type="date" name="date">
    </form>
    </div>
{% endblock %}
</body>
</html>
