{% extends 'base_home.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Student History</title>
</head>

<style>

body{
    background-color: whitesmoke;
}
table {
   border: 3px solid black;
    background-color: white;
}
th{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 10px;
}
td{
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-right: 1px solid black;
}
.button {
  border-radius: 4px;
  background-color: #99ddff;
  border: 3px solid black;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 200px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #006400;
}

    </style>

<body>
    <div align="center">
    <br><br><br>
    <h2>Submissions Log for {{ date }}</h2>
    <table>
    <tr>
        <th>
        Teacher
        </th>
        <th>
        All Reports Submitted
        </th>
        <th>
        Reports Submitted (out of Total)
        </th>
    </tr>
    <tr>
        <td>
            Dana Bleiberg
        </td>
        <td>
            {% if 6aDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 6a }} / 1
        </td>
    </tr>
    <tr>
        <td>
            Marcie Demers
        </td>
        <td>
            {% if 6bDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 6b }} / 1
        </td>
    </tr>
    <tr>
        <td>
            Chip West
        </td>
        <td>
            {% if 6cDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 6c }} / 1
        </td>
    </tr>
    <tr>
        <td>
            Vin White
        </td>
        <td>
            {% if 6dDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 6d }} / 1
        </td>
    </tr>

    <tr>
        <td>
            Glenn Hunter
        </td>
        <td>
            {% if 7aDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 7a }} / 2
        </td>
    </tr>
    <tr>
        <td>
            Andy Marusak
        </td>
        <td>
            {% if 7bDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 7b }} / 2
        </td>
    </tr>
    <tr>
        <td>
            Chris Miller
        </td>
        <td>
            {% if 7cDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 7c }} / 2
        </td>
    </tr>
    <tr>
        <td>
            Caitlin Zolet
        </td>
        <td>
            {% if 7dDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 7d }} / 2
        </td>
    </tr>

    <tr>
        <td>
            Michael Chellman
        </td>
        <td>
            {% if 8aDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 8a }} / 2
        </td>
    </tr>
    <tr>
        <td>
           Chelsea Henry
        </td>
        <td>
            {% if 8bDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 8b }} / 2
        </td>
    </tr>
    <tr>
        <td>
            Claire Holman
        </td>
        <td>
            {% if 8cDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 8c }} / 2
        </td>
    </tr>
    <tr>
        <td>
            Lele Horich
        </td>
        <td>
            {% if 8dDone %} <i class="fa fa-check fa" aria-hidden="true" style="color:green"></i> {% else %} <i class="fa fa-times fa" aria-hidden="true" style="color:red"></i>{% endif %}
        </td>
        <td>
            {{ 8d }} / 2
        </td>
    </tr>
    </table>

    <h3>View a past day</h3>
    <form action="/TeacherSubmissions" method="post">
        {% csrf_token %}

        <input id="date" type="date" name="date">
        <input type="submit" value="Change Date" class="button" />

    </form>
    </div>
{% endblock %}
</body>
</html>
