{% extends 'base_home.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Weekly Reports</title>
</head>

<style>
body{
    background-color: whitesmoke;
}
#weekly_report {
    text-align: left;
    background-color: white;
    border: 2px solid black;
    width: 80%;
    margin-top: 2%;
}
#comments {
    clear: both;
    text-align: left;
    padding: 3%;
    font-size: 125%;
}
#scores{
    text-align: left;
    width: 35%;
    float: left;
    margin-left: 3%;
    margin-right: 1%;
    font-size: 160%;
}
#comments{
    width: 40%;
    float: left;
    margin-left: 1%;
    font-size: 140%;

}
</style>

<body>
    <br><br><br><br>
    <div align="center">

    <div id="weekly_report">
        <span style="font-size: 180%; margin-left: 6%"><b>
        Weekly Report 1
            <span style="float: right; margin-right: 6%">
                January 29th - February 2nd
            </span>
        </b></span>
        <br><br>
        <div id="scores">
        Appropriate Behavior: <b>{{ wr1.m1percent }}%</b> ({{ wr1.m1yes }} / {{ wr1.total }}) <br>
        Attentive: <b>{{ wr1.m2percent }}%</b> ({{ wr1.m2yes }} / {{ wr1.total }}) <br>
        HW Complete: <b>{{ wr1.m3percent }}%</b> ({{ wr1.m3yes }} / {{ wr1.hw_total }}) <br>
        Organized: <b>{{ wr1.m4percent }}%</b> ({{ wr1.m4yes }} / {{ wr1.total }}) <br>
        </div>

        <div id="comments">
            <b>Successes</b><br>
            1. {{ wr1.pro_comment1 }}<br>
            2. {{ wr1.pro_comment2 }}<br>
            <b>Areas for Improvement</b><br>
            1. {{ wr1.con_comment1 }}<br>
            2. {{ wr1.con_comment2 }}<br>
        </div>

    </div>
    </div>

{% endblock %}
</body>

</html>