{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/5bac3b535a.js"></script>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110599905-1');
</script>
    <meta charset="UTF-8">
    <title>Weekly Reports</title>
</head>

<style>
body{
    background-color: whitesmoke;
}
#weekly_report {
    text-align: left;
    background-color: white;
    border: 2px solid black;
    width: 80%;
    margin-top: 2%;
}
#scores{
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-right: 1%;
    font-size: 160%;
}
#comments{
    width: 50%;
    float: left;
    margin-left: 1%;
    font-size: 100%;

}
</style>

<body>
    <br><br><br><br>
    <div align="center">
    <h2>Weekly Reports for {{ student.name }}</h2>
    <div id="weekly_report">
        <span style="font-size: 180%; margin-left: 6%"><b>
        Weekly Report
            <span style="float: right; margin-right: 6%">
                January 29th - February 2nd
            </span>
        </b></span>
        <hr>
        <div id="scores">
        Appropriate Behavior: <b>{{ wr1.m1percent }}%</b> &nbsp;&nbsp; ({{ wr1.m1yes }}/{{ wr1.total }}) <br>
        Attentive: <b>{{ wr1.m2percent }}%</b> &nbsp;&nbsp; ({{ wr1.m2yes }}/{{ wr1.total }}) <br>
        HW Complete: <b>{{ wr1.m3percent }}%</b> &nbsp;&nbsp; ({{ wr1.m3yes }}/{{ wr1.hw_total }}) <br>
        Organized: <b>{{ wr1.m4percent }}%</b> &nbsp;&nbsp; ({{ wr1.m4yes }}/{{ wr1.total }}) <br>
            <br>
        Teachers submitted reports on
            <br><b>{{ wr1.attendance }}</b> out of 5 days<br>
        </div>

        <div id="comments">
            <h4><u>Successes</u></h4>
            {% if wr1.success1 == '' and wr1.success2 == '' and wr1.success3 == '' %} None {% endif %}
            {% if wr1.success1 != '' %}1. {{ wr1.success1 }}<br>{% endif %}
            {% if wr1.success2 != '' %}2. {{ wr1.success2 }}<br>{% endif %}
            {% if wr1.success3 != '' %}3. {{ wr1.success3 }}<br>{% endif %}
            <h4><u>Areas for Improvement</u></h4>
            {% if wr1.aoi1 == '' and wr1.aoi2 == '' and wr1.aoi3 == '' %} None {% endif %}
            {% if wr1.aoi1 != '' %}1. {{ wr1.aoi1 }}<br>{% endif %}
            {% if wr1.aoi2 != '' %}2. {{ wr1.aoi2 }}<br>{% endif %}
            {% if wr1.aoi3 != '' %}3. {{ wr1.aoi3 }}<br>{% endif %}
            <h4><u>Insights</u></h4>
            {% if wr1.insight1 == '' and wr1.insight2 == '' and wr1.insight3 == '' %} None {% endif %}
            {% if wr1.insight1 != '' %}1. {{ wr1.insight1 }}<br>{% endif %}
            {% if wr1.insight2 != '' %}2. {{ wr1.insight2 }}<br>{% endif %}
            {% if wr1.insight3 != '' %}3. {{ wr1.insight3 }}<br>{% endif %}
            <br>
        </div>
        <br>
        <div style="clear: both"></div>

    </div>
    </div>

{% endblock %}
</body>

</html>